.select {
  display: table;
  position: relative;

  &--opened {
    .select__input {
      border-radius: 4px 4px 0 0;
    }

    .select__options {
      display: block;
    }
  }

  &--md {
    .select__input {
      height: 32px;
      font-size: 16px;
    }
  }

  &--lg {
    .select__input { 
      height: 40px;
      font-size: 18px;
    }
  }
}

.select__input {
  display: block;
  width: 100%;
  box-sizing: border-box;
  height: 24px;
  border: 1px solid #CCC;
  border-radius: 4px;
  padding: 2px 8px;
  font-size: 14px;
  line-height: 16px;
}

.select__options {
  display: none;
  background: #FFF;
  padding: 4px 0;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 9;
  border: 1px solid #CCC;
  border-radius: 0 0 4px 4px;
  margin-top: -1px;
}
